
 
 <%= stylesheet_link_tag 'app_explanation', :media => "all" %>


 
 <h2>このアプリについて</h2>
 <h1>世界が変わる瞬間をあなたへ</h1>
 <p>アクティブラーニングとは名前が示すとおり、積極的（アクティブ）に学習（ラーニング）に取り組んでいく手法のことで科学的に効果が高い学習法で</p>
<p>す。授業を聞きながらノートを取るような受け身の姿勢ではなく、進んで頭を使いながら学ぶ、これがアクティブラーニングの定義です。あなたには自</p>
<p>分の学んでいる分野の用語を再言語化したものを投稿することで自分自身の理解を深めたり他人の再言語化の投稿を見ることによって新たな視点を発見</p>
<p>しそれを簡単に想起する仕組みを作ることで記憶として定着させてparadigm shift（物事の見え方の変化）を起こしてもらいます</p>

<img src="../assets/undraw_road_to_knowledge_m8s0.svg">
<button onclick="location.href='../home_page/home'"  type="button" id="login_button">始める</button>
