<!DOCTYPE html>
<html lang="ja">
 <head>
 <meta charset="utf-8">
 <title>paradigm shift</title>
 
 <%= stylesheet_link_tag 'top', :media => "all" %>
 
 </head>
<body>
<h1>paradigm shift</h1>
<p>このアプリはアクティブラーニングで重要な要素である再言語化</p>
<p>と想起を元にした学習を支援するSNSサービスになります</p>

<button onclick="location.href='/login'"  type="button" id="login_button">ログインはこちら</button>
<button onclick="location.href='static_pages/app_explanation'"  type="button" id="testuser_login">テストユーザーでログイン</button>

<a href= "users/new" id="newuser" >新規会員登録はこちら!</a>

<img src="../assets/undraw_friends_r511.svg">

</body>
</html>