<!DOCTYPE html>
<html lang="ja">
 <head>
 <meta charset="utf-8">
 <title>paradigm shift</title>
 
 <%= stylesheet_link_tag 'home', :media => "all" %>
 <%= stylesheet_link_tag 'search', :media => "all" %>

 </head>
 <body>
  <div class="container">
    <header>
      <img src="../assets/undraw_profile_pic_ic-5-t.svg">
      <h1 class="app_name">Paradigm Shift</h1>
      <h1></h1>
    </header>
    <h1 id="titel">All Posts</h1>
    <main class="posts-area">
     
    </main>
    <div class="operation-container">
      <h1 id="operation-btn" onclick="location.href='../home_page/search'">ユーザーを検索</h1>
      <h1 id="operation-btn" onclick="location.href='../search/post_search'">投稿を検索</h1>
    </div>
      

    <footer>
      <img src="../assets/undraw_at_home_octe.svg" onclick="location.href='../home_page/home'">
      <img src="../assets/undraw_questions_re_1fy7.svg" onclick="location.href='../home_page/quiz'" >
      <img src="../assets/undraw_people_search_re_5rre.svg" onclick="location.href='../home_page/search'">
      <img src="../assets/undraw_notify_re_65on.svg" onclick="location.href='../home_page/news'">
      <img src="../assets/undraw_opened_re_i38e.svg" onclick="location.href='../home_page/direct_message'">
    </footer>
  </div>
 </body>
</html>