<% if @feed_items.any? %>
  <div class="posts">
    <% @feed_items.each do |item| %>
      <div id="post">
        <div id="left-container">
          <div id="namephoto-container">
            <img id="user-photo" src="../../assets/undraw_male_avatar_323b.svg"> 
            <h1 id="user-name"><%= link_to item.user.name, item.user%></h1>
          </div>
          <span id="timestamp">
            Posted <%= time_ago_in_words(item.created_at) %> ago.
          </span>
        </div>
        <div id="term-paraphrase">
          <h2 id="term"><%= item.term %></h2>
          <h3 id="paraphrase"><%= item.paraphrase %></h3>
        </div>
    </div>
    <% end %>
  </div>
 
<% end %>


