<div class="content average-score">
  <div class="star-rating mb-2">
    <div class="star-rating-front" style="width: <%= post.review_score_percentage %>%">★★★★★</div>
    <div class="star-rating-back">★★★★★</div>
  </div>
  <div class="average-score-display ml-3 pt-2">
    <%= post.avg_score %>点
    （<%= post.reviews.count %>件のレビュー）
  </div>
</div>