<%= stylesheet_link_tag 'operation', :media => "all" %>
<div class="operation-container">
  <h1 class="operation-btn" onclick="location.href='../home_page/search'">User Search</h1>
  <h1 class="operation-btn" onclick="location.href='../search/post_search'">Post Search</h1>
</div>
      