

.edit-area{
   display: flex;
   flex-direction: column;
   width: 65%;
   margin-left : auto;
	 margin-right : auto;
   margin-top: 1vh;
}

.form-control{
  height: 4vh;
  margin-bottom: 5vh;
}


.btn{
  background-color: #cefffb ;
}

