

.titel-container{
  text-align: center;
  background-color: #cefffb ;
  font-weight: bold;
  border: solid 1px #000000;
}
 
  

.description-area{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  height: 85%;
  
}