
 .edit-area{
  display: flex;
  flex-direction: column;
  width: 65%;
  margin-left : auto;
  margin-right : auto;
  margin-top: 4vh;
}

.form-control{
 height: 5vh;
 margin-bottom: 5vh;
 font-size: 2vw;
}

.paraphrase {
  height: 45vh;
  
}

.btn{
 background-color: #cefffb ;
 font-weight: bold;
 
}