

.rating-box .ratings .fa{
  font-size: 30px;
  color:#ffcc00;
  cursor: pointer;
}

.main-rating {
  display: flex;
}

.rating-value-display {
  font-size: 20px;
}

.review-form{
  display: flex;
}

.button{
  
  background-color: #cefffb ;
  border-radius: 3px;
  
}