.operation-container{
  display: flex;
 
}

#titel{
  text-align: center;
  font-weight: bold;
  border: solid 3px #000000;
  background-color: #cefffb;
 
}

#operation-btn{
  border: solid 3px #000000;
  background-color: #cefffb;
  flex: 1;
  text-align: center;
}


