
html,body{
  overflow: hidden
}


h1{
  font-size: 120px;
  position: relative; /* 今の位置を基準 */
  top: -100px; /* 上から10px */
  left: 20px; /* 左から20px */
}

p {
  font-size: 25px;
  position: relative; /* 今の位置を基準 */
  top: -150px; /* 上から10px */
  left: 60px; /* 左から20px */
}

img{
  width: 687px;
  height: 581px;
  position: relative; /* 今の位置を基準 */
  top: -270px; /* 上から10px */
  left: 250px; /* 左から20px */
}

button{
  appearance: none;
  border: 0;
  border-radius: 25px;
  background: #76f6ff;
  color: rgb(0, 0, 0);
  padding: 8px 16px;
  font-size: 16px;
}

button:hover {
  background: #1d49aa;
}
 
button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}



button#login_button{
  position: relative; /* 今の位置を基準 */
  top: -600px; /* 上から10px */
  left: 150px; /* 左から20px */
}

button#testuser_login{
  position: relative; /* 今の位置を基準 */
  top: -600px; /* 上から10px */
  left: 200px; /* 左から20px */
}

a#newuser{
  position: relative; /* 今の位置を基準 */
  top: -550px; /* 上から10px */
  left: -140px; /* 左から20px */
}