
.up{
  margin-left: 3vw;
}

#app-titel{
  font-size: 8vw;
}

#app-explanation{
  margin-left: 3vw;
  font-size: 2vw;
}

.bottom{
  display: flex;
  justify-content: space-between;
  margin-top: 10vh;
}

.btn{
  margin-left: 7vw;
  margin-top: 7vh;
}

.login{
  display: flex;
  justify-content: space-between;
  font-size: 1vw;
}

#testuser_login{
  margin-left: 2vw;
}

h2{
  appearance: none;
  border: 0;
  border-radius: 25px;
  background: #76f6ff;
  color: rgb(0, 0, 0);
  padding: 8px 16px;
  font-size: 16px;
}

h2:hover {
  background: #1d49aa;
}
 
h2:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}

#newuser{
  text-align: center;
  
}

img{
  width: 60vw;
  height: 60vh;
}