
<div class="container">
  <%= render 'shared/header_and_drawer' %>
  <h1 id="titel">All Followers</h1>
  <main class="followers-area">
    <%= render 'shared/user-list' %>
  </main>
  <%= render 'shared/footer' %>
</div>
 